#anchor{

    -fx-background-color: red;
}

.button{
  /* -fx-background-color: green;  */
}

.table-view .scroll-bar:horizontal {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-pref-height: 0;
  -fx-opacity: 0;
  

}
/* .table-column .scroll-bar:horizontal{
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-pref-height: 0;
  -fx-opacity: 0;
} */

/* .ImageView {

  -fc
} */

.text-field {

  -fx-text-fill: #ffffff;
}